:root {
	--color-blue: rgba(85, 85, 255, 1);
	--color-blue-dark: rgba(85, 85, 255, 0.45);
	--color-blue-darker: rgba(85, 85, 255, 0.1);
	--color-pink: rgba(255, 85, 255, 1);
	--color-pink-dark: rgba(255, 85, 255, 0.45);
	--color-pink-darker: rgba(255, 85, 255, 0.1);
	--color-teal: rgba(85, 255, 255, 1);
	--color-teal-dark: rgba(85, 255, 255, 0.45);
	--color-teal-darker: rgba(85, 255, 255, 0.1);
	--color-yellow: rgba(255, 255, 85, 1);
	--color-yellow-dark: rgba(255, 255, 85, 0.45);
	--color-yellow-darker: rgba(255, 255, 85, 0.1);
	--color-red: rgba(255, 85, 85, 1);
	--color-red-dark: rgba(255, 85, 85, 0.45);
	--color-red-darker: rgba(255, 85, 85, 0.1);
	--color-green: rgba(85, 255, 85, 1);
	--color-green-dark: rgba(85, 255, 85, 0.45);
	--color-green-darker: rgba(85, 255, 85, 0.1);

	--color-white: #ffffff;
	--color-grey: #dddddd;
	--color-grey-dark: #9ca1a3;
	--color-grey-darker: #636575;
	--color-black: #0a141e;
	--color-background: #0e171f;
}
