:root {
	display: grid;
	height: 100vh;
	padding: 1.5rem;
	place-items: center center;
	background-color: var(--color-background);

	font-family: var(--typeface-regular);
	font-size: 16px;
	color: var(--color-foreground);
	font-feature-settings: 'ss01', 'ss02', 'cv01', 'calt' 0;
}
